# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database
db.sqlite3

# Media Files
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log Files
*.log

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/